{% extends 'base.html'%}


{% block content %}
<style type="text/css">
	body{
    background-color:#2f2f2f2f;
  }
</style>
	<div class="container">
		<div class="a-flex flex-column">
			<p class="m-auto">
			we have email you instructions for setting your password if ans account exists with the email you entered.
			You should receive them sortly. </p> 
			<p class="m-auto">
			If ypu dosen't receive an email ,please make sure you have entered the email address you you registered with,
			and check your spam folder</p>
			<p class="m-auto p-2"><a href="{% url 'login' %}">Return to Login page</a></p>
			
		</div>
	</div>
{% endblock content%} 